/* Override the global a[target]::after external 
link icon that appeared on the warning sign */
.learnMore[target]::after {
	content: none;
	display: none;
}
.learnMore {
	color: var(--sds-clr-lilac-09, #606);
}

.warningIcon {
	height: 20px;
	width: 20px;
	color: var(--color-yellow-60, #f0ad4e);
	position: absolute;
	bottom: -8px;
	right: -8px;
	cursor: pointer;
}

.profileWrap {
	position: relative;
}
