/** GLOBAL */
/* Typography Color */
body {
	color: var(--sds-clr-gray-12);
}

/* External link icons */
a[target]::after {
	content: " ";
	background: var(--sds-clr-lilac-11);
	width: 1em;
	height: 1em;
	display: inline-block;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='none' stroke='currentColor' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 17 17 7m0 0H7m10 0v10'%3E%3C/path%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='none' stroke='currentColor' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 17 17 7m0 0H7m10 0v10'%3E%3C/path%3E%3C/svg%3E");
}
a[target]:hover::after {
	background: var(--sds-clr-lilac-12);
}
a[target]:disabled::after {
	background: var(--sds-clr-lilac-08);
}

a:has(button) {
	text-decoration: none;
}
a[target]:has(button)::after {
	content: unset;
	-webkit-mask-image: unset;
	mask-image: unset;
}

/** HEADER */
.AppLayout :global(.Layout__header) {
	border-bottom: 1px solid var(--sds-clr-gray-06);
	padding: 1rem 3rem;
}

.AppLayout :global(.Layout__header) :global(.Layout__inset) {
	gap: 2rem;
}

.AppLayout :global(.Layout__header--center) {
	flex-direction: row;
	justify-content: start;
}

/** FOOTER */
.AppLayout :global(.Layout__footer__content) {
	flex-direction: row-reverse;
}

/** SDS FIXES */
:global(.sds-theme-light) ol li::before,
:global(.sds-theme-dark) ol li::before {
	content: unset;
}

* {
	transition:
		background-color var(--sds-anim-transition-default),
		border-color var(--sds-anim-transition-default),
		color var(--sds-anim-transition-default);
}
